.clock {
  background: #333333;
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.clock-time,
.clock-ampm {
  font-family: "Prosto One", cursive;
  font-size: 32px;
  color: #dddddd;
}

.clock-time {
  font-size: 50px;
}
